<button type="@Type" class="@Class" disabled="@Disabled" @onclick="ButtonClicked">
    @((MarkupString)Spinner) @if (!Hide){ @ChildContent } @((MarkupString)SpinnerRight)
</button>

@code {

    [Parameter]
    public string Type { get; set; } = "button";

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool DisableOnClick { get; set; } = false;

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public bool SpinnerOnDisabled { get; set; } = false;

    [Parameter]
    public string SpinnerClass { get; set; } = "spinner-border spinner-border-sm";

    [Parameter]
    public int Delay { get; set; } = 10;

    [Parameter]
    public SpinnerPosition spinnerPosition { get; set; } = SpinnerPosition.Left;

    public bool Disabled = false;
    public bool Hide = false;
    public string Spinner = "";
    public string SpinnerRight = "";

    public enum SpinnerPosition
    {
        Left,
        Right,
        Only
    }

    private async Task ButtonClicked()
    {
        if (DisableOnClick)
        {
            Disabled = true;
            SetSpinView();
        }
        await Task.Delay(Delay);
        await OnClick.InvokeAsync("clicked");
    }

    public void EnableButton()
    {
        Disabled = false;
        if (SpinnerOnDisabled){Spinner = "";SpinnerRight = ""; }
        Hide = false;
        StateHasChanged();
    }

    public void DisableButton()
    {
        Disabled = true;
        SetSpinView();
        StateHasChanged();
    }

    void SetSpinView()
    {
        if (SpinnerOnDisabled)
        {
            if (spinnerPosition == SpinnerPosition.Right)
            {
                SpinnerRight = $@" <span class=""{SpinnerClass}"" aria-hidden=""true""></span>";
            }
            else if (spinnerPosition == SpinnerPosition.Only)
            {
                Hide = true;
                Spinner = $@"<span class=""{SpinnerClass}"" aria-hidden=""true""></span> ";
            }
            else
            {
                Spinner = $@"<span class=""{SpinnerClass}"" aria-hidden=""true""></span> ";
            }
        }
    }

}
